
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

/* 정보 */
#info > div > #text {
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
}
#info > div > #data {
    font-size: 25px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
/* 정보 끝 */
