
/* 메인 */
#main {
    margin-top: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 360px; /* 아래쪽 여백 설정 */
}
/* 메인끝 */

/* 시작 */
#form {
    font-size: 25px;
}
#form > input {
    padding: 6px;
    padding-bottom: 3px;
    width: 170px;
    height: 20px;
    font-size: 70%;
}
#form > .btn {
    margin-top: 5px;
    cursor: pointer;
    padding: 0;
    padding-bottom: 0;
    width: 80px;
    height: 50px;
    border: 2px solid rgb(182, 182, 182);
    background-color: #1e323b;
    font-weight: bold;
    font-size: 70%;
    color: white;
}
#login > a,
#login > a:active {
    color: #617279;
}
#login > a:hover {
    color: #80939b;
}
/* 시작 끝 */
