
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/" />
        <%-include('../html/header.ejs')%>

        <meta name="title" content="사이트 모음" />
        <meta property="og:title" content="사이트 모음" />
        <meta name="description" content="남일고 관련 사이트" />
        <meta name="og:description" content="남일고 관련 사이트" />

        <meta property="url" content="https://namilsite.netlify.app" />
        <meta property="og:url" content="https://namilsite.netlify.app" />

        <meta property="image:alt" content="남일고 사이트 모음" />
        <meta property="og:image:alt" content="남일고 사이트 모음" />

        <title id="main_title">ㆍ사이트 모음ㆍ</title>
    </head>

    <body>
        <%-include('../html/template.ejs')%>
        <div id="main">
            <%-include('../html/index.ejs')%>
        </div>
    </body>
</html>
