
<div style="color:red; margin-top: 2%">
    <!--만약 message의 길이가 0보다 길면 message를 띄워라-->
    <% if(message.length > 0) { %>
    <%= message %>
    <% } %>
</div>
<form action="/login" method="POST" class="signupform">
    <label for="id">아이디</label>
    <input name="id" type="text" required />
    <label for="password">비밀번호</label>
    <input name="password" type="password" required />
    <button class="btn">로그인!</button>
</form>
