
<!doctype html>
<html lang='ko'>
    <head>
        <%-include('../html/header.ejs')%>

        <meta name="title" content="사이트 모음 회원가입페이지" />
        <meta property="og:title" content="사이트 모음 회원가입페이지" />
        <meta name="description" content="남일고 관련 사이트 회원가입페이지" />
        <meta name="og:description" content="남일고 관련 사이트 회원가입페이지" />

        <meta property="url" content="https://namilsite.netlify.app/signup" />
        <meta property="og:url" content="https://namilsite.netlify.app/signup" />

        <meta property="image:alt" content="남일고 사이트 모음 회원가입페이지" />
        <meta property="og:image:alt" content="남일고 사이트 모음 회원가입페이지" />

        <title id="main_title">ㆍ회원가입 페이지ㆍ</title>
    </head>

    <body>
        <%-include('../html/template.ejs')%>
        <div id="main">
            <%-include('../html/signup.ejs')%>
        </div>
    </body>
</html>
