<link rel="stylesheet" type="text/css" href="/css/myaccount.css" />

            <div id="info">
                <div>
                    <p id="text">이름</p>
                    <p id="data"><%=username%></p>
                </div>
                <div>
                    <p id="text">학번</p>
                    <p id="data"><%=classnum%></p>
                </div>
                <div>
                    <p id="text">아이디</p>
                    <p id="data"><%=id%></p>
                </div>
            </div>