<link rel="stylesheet" type="text/css" href="/css/myaccount.css" />

            <div>
                <p>이름</p>
                <p><%=name%></p>
            </div>
            <div>
                <p>학번</p>
                <p><%=class%></p>
            </div>
            <div>
                <p>아이디</p>
                <p><%=id%></p>
            </div>