<link rel="stylesheet" type="text/css" href="/css/myaccount.css" />

            <div id="info">
                <div>
                    <p id="text">이름</p>
                    <p id="data"><%=username%></p>
                </div>
                <div>
                    <p id="text">학번</p>
                    <p id="data"><%=classnum%></p>
                </div>
                <div>
                    <p id="text">아이디</p>
                    <p id="data"><%=id%></p>
                </div>
            </div>
            <div id="delete">
                <p><a href="/delete">계정삭제</a></p>
            </div>