<link rel="stylesheet" type="text/css" href="/css/signup.css" />

            <form action="/signup" method="POST" class="signupform">
                <div>
                    <p id="form">
                        <label for="name">&ensp;&ensp;이름&ensp;&ensp;</label>
                        <input name="name" type="text" required />
                    </p>
                </div>
                <div>
                    <p id="form">
                        <label for="class">&ensp;&ensp;학번&ensp;&ensp;</label>
                        <input name="class" type="number" required />
                    </p>
                </div>
                <div>
                    <p id="form">
                        <label for="id">&nbsp;아이디&nbsp;</label>
                        <input name="id" type="text" required />
                    </p>
                </div>
                <div>
                    <p id="form">
                        <label for="password">비밀번호</label>
                        <input name="password" type="password" required />
                    </p>
                </div>
                <div>
                    <p id="form">
                        <button class="btn">가입하기</button>
                    </p>
                </div>
            </form>
            <div id="login">
                <a href="/login">로그인 하러가기</a>
            </div>