<div id="logo">
            <a href="/"><img src="/images/logo.png" /></a>
        </div>
        <div id="clock">
            <span id="nowTimes"><a href="/clock" id="realtime"></a></span>
        </div>
        <div id='menu'>
            <ul>
                <li class='sub'><a href='/login' title="로그인"><span>로그인</span></a></li>
                <li class='sub'><a href='/signup' title="회원가입"><span>회원가입</span></a></li>
                <li class='has-sub'><a href='#'><span>사이트모음</span></a>
                    <ul>
                        <li><a href='http://school.busanedu.net/bsnamil-h/main.do' target="_blank"><span>ㆍ 학교홈페이지</span></a></li>
                        <li><a href='/meal'><span>ㆍ 학교급식</span></a></li>
                        <li><a href="https://www.hscredit.kr"><span>ㆍ 고교학점제</span></a></li>
                        <li class='last'><a href="https://www.hscredit.net"><span>ㆍ 고교학점제<br/>&ensp;&ensp;&nbsp;(수강신청)</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>수업사이트</span></a>
                    <ul>
                        <li><a href='/zoomid'><span>ㆍ ZOOM 번호</span></a></li>
                        <li><a href="/selecttime"><span>ㆍ 선택&합반 시간표</span></a></li>
                        <li><a href="/classtime"><span>ㆍ 학교시간표</span></a></li>
                        <li><a href='https://hoc3.ebssw.kr/onlineClass/search/onlineClassSearchView.do?schulCcode=01395&schCssTyp=online_high' target="_blank"><span>ㆍ 온라인클래스</span></a></li>
                        <li><a href='https://www.classting.com/news' target="_blank"><span>ㆍ 클래스팅</span></a></li>
                        <li class='last'><a href='https://classroom.google.com' target="_blank"><span>ㆍ 클래스룸</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>예전사이트</span></a>
                    <ul>
                        <li><a href='https://namilfirstsite.netlify.app' target="_blank"><span>ㆍ 초기사이트</span></a></li>
                        <li><a href='https://namilsimplesite.netlify.app' target="_blank"><span>ㆍ 두번째사이트</span></a></li>
                        <li class='last'><a href='https://namilsite.netlify.app' target="_blank"><span>ㆍ 현재사이트</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>